nodes:
    - address: {{ server_ip }}
      user: kube
      role: ["controlplane", "worker", "etcd"]
      ssh_key_path: ~/.ssh/id_rsa_kube
kubernetes_version: {{ kubernetes.server_version }}
ingress:
    provider: none
network:
    plugin: calico
addon_job_timeout: 100
